{{define "default"}}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        {{template "navbar"}}
        {{template "yield" .}}
    </div>

</body>
</html>
{{end}}