{{define "navbar"}}
    <div>
        <div>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/contact">contact</a></li>
                <li><a href="#">link3</a></li>
                <li><a href="#">link4</a></li>
            </ul>
        </div>
    </div>
{{end}}